[submodule "panda"]
	path = panda
	url = ../../bluetulippon/panda.git
	branch = v0.8.3_20210329_2354_develop
[submodule "opendbc"]
	path = opendbc
	url = ../../bluetulippon/opendbc.git
	branch = v0.8.3_20210329_2354_develop
[submodule "laika_repo"]
	path = laika_repo
	url = ../../bluetulippon/laika.git
	branch = v0.8.3_20210329_2354_develop
[submodule "cereal"]
	path = cereal
	url = ../../bluetulippon/cereal.git
	branch = v0.8.3_20210329_2354_develop
[submodule "rednose_repo"]
	path = rednose_repo
	url = ../../bluetulippon/rednose.git
	branch = v0.8.3_20210329_2354_develop
